<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
      <h4><%= @task.new_record? ? "New" : "Edit" %> Task</h4>
    </div>

    <%= bootstrap_form_for(@task, remote: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
      <div class="modal-body">
        <%= f.hidden_field :task_category_id %>
        <%= f.text_field :title %>
        <%= f.text_area :description %>
        <%= f.date_field :due_date %>
        <%= f.select :frequency_cd, options_from_collection_for_select(
              Task.frequencies, :id, :display), label: "Repeat" %>
        <%= f.select :weight, [1,2,5,10] %>
        <%= f.form_group :reminder_info do %>
          <%= f.check_box :send_reminder %>
        <% end %>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <%= f.submit "Save Task", class: "btn btn-primary" %>
      </div>

      <div class="spinner"></div>

    <% end %>

 </div>
</div>
