<tr id="task-<%= task.id %>" class="task">
  <td><%= task.title %></td>
  <td><%= task.task_category.name %></td>
  <td><%= short_date(task.due_date) %></td>
  <td><%= task.frequency.display %></td>
  <td><%= display_weight(task.weight) %></td>
  <td></td>
</tr>
