<tr id="task-<%= task.id %>" class="task <%= 'success' if task.complete? %>">
  <% if task.complete? %>
    <td>
      <%= link_to destroy_task_completions_path(task), method: :delete,
            remote: true, id: "task-complete-undo-#{task.id}" do %>
        <i class="fa fa-check-square-o"></i>
      <% end %>
    </td>
  <% else %>
    <td>
      <%= link_to new_task_completion_path(task), remote: true,
            id: "task-complete-#{task.id}" do %>
        <i class="fa fa-square-o"></i>
      <% end %>
    </td>
  <% end %>
  <td><%= link_to task.title, edit_task_path(task), remote: true,
            data: { toggle: "modal", target: "#modal-window"} %></td>
  <td><%= task.task_category.name %></td>
  <td><%= short_date(task.due_date) %></td>
  <td><%= task.frequency.display %></td>
  <td><%= display_weight(task.weight) %></td>
  <td>
    <%= link_to task, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, id: "delete-task-#{task.id}" do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </td>
</tr>
