<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
      <h4><%= @user.new_record? ? "New User Account" : "Edit User Account" %></h4>
    </div>

    <%= bootstrap_form_for(@user, remote: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
      <div class="modal-body">
        <%= f.text_field :name %>
        <%= f.email_field :email %>
        <% if @user.new_record? || !@user.root? %>
          <%= f.select :role_cd,
                options_from_collection_for_select(
                  roles_for_select, :id, :display, @user.role_cd
                ),

                label: "Role" %>
        <% end %>
        <% if @user.new_record? %>
          <%= f.form_group :invites do %>
            <%= f.check_box :is_invited, label: 'Allow user to login (an email invitation will be sent).' %>
          <% end %>
        <% end %>

      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>

    <% end %>

 </div>
</div>
