<%= title "Sign In" %>
<%= heading "Sign In" %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <%= f.submit "Sign in", class: "btn btn-primary" %>
  <span class="muted spacer-left-20">
    <%= link_to "Forgot your password?", new_user_password_path %>
  </span>

  <p class="muted spacer-20">New here?
    <%= link_to "Create an Account", new_user_registration_path %>.
  </p>
<% end %>

