<%= form_for(@event_tracker) do |f| %>
  <% if @event_tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_tracker.errors.count, "error") %> prohibited this event_tracker from being saved:</h2>

      <ul>
      <% @event_tracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <% EventTracker.intervals.each do |interval| %>
      <%= f.radio_button(:interval_cd, interval.id ) %>
      <%= f.label :interval_cd, interval.display, value: interval.id %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
