<% title 'Event Tracking' %>
<% heading 'Event Tracking' %>

<div class="visualizations">
  <canvas id="vis-ok" class="donut" style="width:25%"></canvas>
  <canvas id="vis-alert" class="donut" style="width:25%"></canvas>
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Interval</th>
      <th>Status</th>
      <th>Last Ping</th>
      <th>Last Checked</th>
    </tr>
  </thead>

  <tbody>
    <% @event_trackers.each do |event_tracker| %>
      <tr class="event-tracker-row <%= tracker_class(event_tracker) %>">
        <td>
          <%= link_to event_tracker.name, event_tracker %>
        </td>
        <td><%= event_tracker.interval.display %></td>
        <td><%= event_tracker.status.name.capitalize %></td>
        <td>
          <%= time_ago(event_tracker.last_ping_at) %>
        </td>
        <td>
          <%= time_ago(event_tracker.last_checked_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Tracker', new_event_tracker_path, class: "btn btn-primary active " %>

<script>
$(function() {

  data = [
    {
      value: 7,
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "Ok"
    },
    {
      value: 2,
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Alert"
    },
    {
      value: 1,
      color: "#FDB45C",
      highlight: "#FFC870",
      label: "Paused"
    }
  ]

  myNewChart = new Chart($("#vis-ok").get(0).getContext("2d")).Doughnut(data, {})
})
</script>
