<% title 'Event Tracking' %>
<% heading 'Event Tracking' %>

<section class="visualizations">
  <div class="col-md-12 well">
    <div class="row">
      <div class="col-md-8">
        <h3><i class="fa fa-exclamation-circle"></i> Quick Stats</h3>
        <hr/>
        <p>
          There are currently
          <%= @status_counts[:ok] + @status_counts[:alert] %>
          active event trackers.
        </p>
        <canvas id="vis-status" class="donut" style="width:25%"></canvas>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h5>Overall Uptime</h5>
          <ul>
            <li><i class="fa fa-certificate"></i> 100% Last 24 Hours</li>
            <li><i class="fa fa-certificate"></i> 99.8% Last 7 Days</li>
            <li><i class="fa fa-certificate"></i> 99.9% Last 30 Days</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Interval</th>
      <th>Status</th>
      <th>Last Ping</th>
      <th>Last Checked</th>
    </tr>
  </thead>

  <tbody>
    <% @event_trackers.each do |event_tracker| %>
      <tr class="event-tracker-row <%= tracker_class(event_tracker) %>">
        <td>
          <%= link_to event_tracker.name, event_tracker %>
        </td>
        <td><%= event_tracker.interval.display %></td>
        <td><%= event_tracker.status.name.capitalize %></td>
        <td>
          <%= time_ago(event_tracker.last_ping_at) %>
        </td>
        <td>
          <%= time_ago(event_tracker.last_checked_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Tracker', new_event_tracker_path, class: "btn btn-primary active " %>

<script>
$(function() {

  data = [
    {
      value: <%= @status_counts[:ok] %>,
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "Ok"
    },
    {
      value: <%= @status_counts[:alert] %>,
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Alert"
    },
    {
      value: <%= @status_counts[:pending] +  @status_counts[:paused] %>,
      color: "#FDB45C",
      highlight: "#FFC870",
      label: "Paused/Pending"
    }
  ]

  myNewChart = new Chart($("#vis-status").get(0).getContext("2d")).Doughnut(data, {})
})
</script>
