<% title 'Event Tracking' %>
<% heading 'Event Tracking' %>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Interval</th>
      <th>Status</th>
      <th>Last Ping</th>
      <th>Last Checked</th>
    </tr>
  </thead>

  <tbody>
    <% @event_trackers.each do |event_tracker| %>
      <tr class="event-tracker-row <%= tracker_class(event_tracker) %>">
        <td>
          <%= link_to event_tracker.name, event_tracker %>
        </td>
        <td><%= event_tracker.interval.display %></td>
        <td><%= event_tracker.status.name.capitalize %></td>
        <td>
          <%= time_ago(event_tracker.last_ping_at) %>
        </td>
        <td>
          <%= time_ago(event_tracker.last_checked_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Tracker', new_event_tracker_path, class: "btn btn-primary active " %>
