<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @event_tracker.user %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @event_tracker.organization %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event_tracker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @event_tracker.email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event_tracker.notes %>
</p>

<p>
  <strong>Interval cd:</strong>
  <%= @event_tracker.interval_cd %>
</p>

<p>
  <strong>Token:</strong>
  <%= @event_tracker.token %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @event_tracker.sort_order %>
</p>

<p>
  <strong>Is paused:</strong>
  <%= @event_tracker.is_paused %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @event_tracker.is_deleted %>
</p>

<%= link_to 'Edit', edit_event_tracker_path(@event_tracker) %> |
<%= link_to 'Back', event_trackers_path %>
