<% title @site.name %>
<% heading @site.name %>

<h3>Settings</h3>
<p>
  <strong>Frequency:</strong> <%= @site.interval.display %>
</p>

<p>
  <%= link_to "Edit", edit_site_path(@site), class: "btn btn-primary btn-sm active" %>
  <%= link_to "Delete", @site, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %>
</p>

<h3>Log Analysis</h3>

<% if @log_monitors.size > 0 %>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Hits</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @log_monitors.each do |mon| %>
        <tr>
          <td>
            <%= link_to mon.created_at, site_log_monitor_path(@site.token, mon.id) %>
          </td>
          <td>
            <%= mon.hits %>
          </td>
          <td>
            <%= mon.status %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<%= link_to "New Full File Log Monitor", new_site_log_monitor_path(@site), class: "btn btn-primary btn-sm active" %>
<%= link_to "New Tail Log Monitor", new_site_log_monitor_path(@site, type: "tail"), class: "btn btn-primary btn-sm active" %>

<h3>Recent History</h3>

<% if 1 == 0 %>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Time</th>
        <th>Comment</th>
      </tr>
    </thead>

    <tbody>
      <% @site.pings.limit(20).each do |ping| %>
        <tr>
          <td>
            <%= standard_datetime(ping.created_at) %>
          </td>
          <td>
            <%= ping.task_length %>
          </td>
          <td>
            <%= ping.comment %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>