<% title 'Account' %>
<% heading "Your Account Details" %>

<div class="row">

  <div class="col-md-6">
    <h3><i class="fa fa-user"></i> Your Details</h3>
    <%= bootstrap_form_for(current_user, url: account_path, label_errors: true) do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :email %>
      <% if current_user.admin? %>
        <%= f.fields_for :organization do |f_org| %>
          <%= f_org.hidden_field :id %>
          <%= f_org.text_field :name, label: "Organization Name" %>
        <% end %>
      <% end %>
      <%= f.submit "Save", class: "btn btn-primary active" %>
    <% end %>

    <h3><i class="fa fa-asterisk"></i> Change Password</h3>
    <%= bootstrap_form_for(current_user, url: update_password_account_path, label_errors: true) do |f| %>
      <%= f.password_field :current_password %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Change", class: "btn btn-primary active" %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3><i class="fa fa-cloud"></i> API Keys</h3>
    <table id="api-key-list" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Role</th>
          <th>Token</th>
          <th>Hourly Rate</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% current_user.organization.api_keys.each do |key| %>
          <%= render partial: "api_keys/row", locals: { api_key: key } %>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Add a Key", api_keys_path, method: :post, remote: true, class: "btn btn-primary active" %>
  </div>

</div>
