<% title "#{@site.name} - Log Monitor" %>
<% heading "#{@site.name} - Log Monitor" %>

<div class="row">
  <div class="col-md-6">
    <h3>Status</h3>
    <p>
      <strong><%= @log_monitor.status.display %></strong>
    </p>

    <h3>Entries</h3>

    <table id="monitor-ips" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Hits</th>
          <th>Agent</th>
        </tr>
      </thead>

      <tbody>
      <% @log_monitor.log_ips.sort_by(:hits, order: "DESC").each do |log_ip| %>
        <tr class="ip-row" data-ip-id="<%= log_ip.id %>">
          <td><%= log_ip.ip %></td>
          <td><%= log_ip.hits %></td>
          <td><%= log_ip.agent %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6" style="position:fixed; margin-left: 50%; height: 100%; overflow-y: scroll; ">
    <h3>Details</h3>

    <p>stuff goes here</p>
    <p>stuff goes here</p>
    <p>stuff goes here</p>
    <p>stuff goes here</p>
    <p>stuff goes here</p>
    <p>stuff goes here</p>
    <p>stuff goes here</p>
    <p>stuff goes here</p>
    <p>stuff goes here3</p>
    <p>stuff goes here3</p>
    <p>stuff goes here3</p>
    <p>stuff goes here3</p>
    <p>stuff goes here3</p>
    <p>stuff goes here3</p>
    <p>stuff goes here3</p>
    <p>stuff goes here3</p>
    <p>stuff goes here4</p>
    <p>stuff goes here4</p>
    <p>stuff goes here4</p>
    <p>stuff goes here4</p>
    <p>stuff goes here4</p>
    <p>stuff goes here4</p>
    <p>stuff goes here4</p>
    <p>stuff goes here4</p>
    <p>stuff goes here5</p>
    <p>stuff goes here5</p>
    <p>stuff goes here5</p>
    <p>stuff goes here5</p>
    <p>stuff goes here5</p>
    <p>stuff goes here6</p>
    <p>stuff goes here6</p>
    <p>stuff goes here6</p>
    <p>stuff goes here6</p>
    <p>stuff goes here6</p>
    <p>stuff goes here6</p>
    <p>stuff goes here5</p>
    <p>stuff goes here7</p>
    <p>stuff goes here7</p>
    <p>stuff goes here7</p>
    <p>stuff goes here7</p>
    <p>stuff goes here7</p>
    <p>stuff goes here7</p>
  </div>
</div>


